
body {
  margin: 0;
  padding: 0;
  background: transparent;
  overflow: hidden;

  font-family: "Segoe UI", "Roboto", sans-serif;

}

#overlay {
  width: 100%;
  height: 100%;

  background: rgba(43, 43, 43, 0.9);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  padding: 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
  border: 2px solid transparent;
  animation: rgb 4s linear infinite;


  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  -webkit-app-region: drag;

  transition: background 0.2s ease;
  overflow: hidden;

}

#search {
  width: 100%;

  padding: 14px;
  font-size: 22px;
  border: none;
  border-radius: 6px;
  background: #303030;
  color: #f5f5f5;
  outline: none;
  -webkit-app-region: no-drag;
  transition: background 0.2s ease;

}

#search.not-empty {
  border-color: transparent !important;
}

@keyframes rgb {
  0%    { border-color: red; }
  25%   { border-color: green; }
  50%   { border-color: blue; }
  75%   { border-color: purple; }
  100%  { border-color: red; }
}

#results {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  -webkit-app-region: no-drag;

  max-height: 300px;
  overflow-y: auto;
ű
}

.result-item {
  background: #444;
  margin: 5px 0;
  padding: 8px;
  border-radius: 6px;
  opacity: 0;
  transform: translateY(-10px);

  animation: fadeSlide 0.25s forwards;
  -webkit-app-region: no-drag;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: background 0.2s ease;

}

@keyframes fadeSlide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.result-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.result-item span {
  flex: 1;
}

.result-item:hover {
  background: #555;
}
